<html>
    <body>
        <form action="/produtos" method="POST">
            <div>
                <label for="titulo">Titulo</labeL>
                <input type="text" id="titulo" name="titulo" placeholder="Titulo">
            </div>
             <div>
                <label for="preco">Preço</labeL>
                <input type="text" id="preco" name="preco" placeholder="Preço">
            </div>
             <div>
                <label for="descricao">Descrição</labeL>
                <textarea cols="25" rows="10" id="descricao" name="descricao" placeholder="Descrição do livro"></textarea>
            </div>
             <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </body>
</html>