<html>
    <body>
        <table border="1">
            <tr>
                <td>Id</td>
                <td>Produto</td>
            </tr>
            <tr>
                <td>1</td>
                <td>NodeJs</td>
            </tr>
        </table>
    </body>
</html>